.popup__container {
  background: #fff;
  border-radius: 10px;
  position: relative;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  max-width: 430px;
}

@media all and (max-width: 600px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
}
