.popup__button {
  background: url(../../../images/close-icon_white.png) no-repeat 50% 50%;
  width: 32px;
  height: 32px;
  border: 0;
  position: relative;
  top: -42px;
  left: 402px;
}

@media all and (max-width: 600px) {
  .popup__button {
    width: 20px;
    height: 20px;
    top: -28px;
    left: 265px;
  }
}

.popup__button:hover {
  cursor: pointer;
  opacity: .6;
  transition: .3s;
}
