.elements__like-button {
  background: url(../../../images/like_disabled.svg) no-repeat;
  width: 22px;
  height: 19px;
  border: 0;
  padding: 0 23px 0 0;
  transition: .3s;
}

.elements__like-button:hover {
  cursor: pointer;
  opacity: .5;
}
